@import url('../node_modules/@fortawesome/fontawesome-pro/css/all.css');
body {
  background-color: #171b24;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.invisible {
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.logoImage {
  width: 35%;
  position: absolute;
  left: 32.5%;
}

.logoHeader {
  padding: 50px 0px;
}

/* 
.svgLogo {
  position: absolute;
} */

.card {
  width: 400px;
}

/* nav {
  background-color: #0d79b8;
} */